config/
cassandra_data/
kafka_data/
minio_data/
.idea/
__pycache__/
*.pyc
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T19:55:07.825970+00:00/task_id=tarefa_1/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T19:55:07.825970+00:00/task_id=tarefa_2/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T19:55:33.950780+00:00/task_id=tarefa_1/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T19:55:33.950780+00:00/task_id=tarefa_2/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T20:00:28.018200+00:00/task_id=tarefa_1/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T20:00:28.018200+00:00/task_id=tarefa_2/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T20:43:28.354188+00:00/task_id=tarefa_1/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=manual__2026-01-04T20:43:28.354188+00:00/task_id=tarefa_2/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=scheduled__2026-01-04T00:00:00+00:00/task_id=tarefa_1/attempt=1.log
logs/dag_id=dag_simples_exemplo/run_id=scheduled__2026-01-04T00:00:00+00:00/task_id=tarefa_2/attempt=1.log
logs/dag_processor/latest
logs/dag_processor/2026-01-04/dags-folder/exemplo_dag.py.log
logs/dag_processor/2026-01-04/example_dags/example_asset_alias_with_no_taskflow.py.log
logs/dag_processor/2026-01-04/example_dags/example_asset_alias.py.log
logs/dag_processor/2026-01-04/example_dags/example_asset_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/example_asset_with_watchers.py.log
logs/dag_processor/2026-01-04/example_dags/example_assets.py.log
logs/dag_processor/2026-01-04/example_dags/example_branch_labels.py.log
logs/dag_processor/2026-01-04/example_dags/example_branch_python_dop_operator_3.py.log
logs/dag_processor/2026-01-04/example_dags/example_complex.py.log
logs/dag_processor/2026-01-04/example_dags/example_custom_weight.py.log
logs/dag_processor/2026-01-04/example_dags/example_dag_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/example_display_name.py.log
logs/dag_processor/2026-01-04/example_dags/example_dynamic_task_mapping_with_no_taskflow_operators.py.log
logs/dag_processor/2026-01-04/example_dags/example_dynamic_task_mapping.py.log
logs/dag_processor/2026-01-04/example_dags/example_inlet_event_extra.py.log
logs/dag_processor/2026-01-04/example_dags/example_kubernetes_executor.py.log
logs/dag_processor/2026-01-04/example_dags/example_latest_only_with_trigger.py.log
logs/dag_processor/2026-01-04/example_dags/example_local_kubernetes_executor.py.log
logs/dag_processor/2026-01-04/example_dags/example_nested_branch_dag.py.log
logs/dag_processor/2026-01-04/example_dags/example_outlet_event_extra.py.log
logs/dag_processor/2026-01-04/example_dags/example_params_trigger_ui.py.log
logs/dag_processor/2026-01-04/example_dags/example_params_ui_tutorial.py.log
logs/dag_processor/2026-01-04/example_dags/example_passing_params_via_test_command.py.log
logs/dag_processor/2026-01-04/example_dags/example_setup_teardown_taskflow.py.log
logs/dag_processor/2026-01-04/example_dags/example_setup_teardown.py.log
logs/dag_processor/2026-01-04/example_dags/example_simplest_dag.py.log
logs/dag_processor/2026-01-04/example_dags/example_skip_dag.py.log
logs/dag_processor/2026-01-04/example_dags/example_task_group_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/example_task_group.py.log
logs/dag_processor/2026-01-04/example_dags/example_time_delta_sensor_async.py.log
logs/dag_processor/2026-01-04/example_dags/example_trigger_target_dag.py.log
logs/dag_processor/2026-01-04/example_dags/example_workday_timetable.py.log
logs/dag_processor/2026-01-04/example_dags/example_xcom.py.log
logs/dag_processor/2026-01-04/example_dags/example_xcomargs.py.log
logs/dag_processor/2026-01-04/example_dags/tutorial_dag.py.log
logs/dag_processor/2026-01-04/example_dags/tutorial_objectstorage.py.log
logs/dag_processor/2026-01-04/example_dags/tutorial_taskflow_api_virtualenv.py.log
logs/dag_processor/2026-01-04/example_dags/tutorial_taskflow_api.py.log
logs/dag_processor/2026-01-04/example_dags/tutorial_taskflow_templates.py.log
logs/dag_processor/2026-01-04/example_dags/tutorial.py.log
logs/dag_processor/2026-01-04/example_dags/plugins/decreasing_priority_weight_strategy.py.log
logs/dag_processor/2026-01-04/example_dags/plugins/event_listener.py.log
logs/dag_processor/2026-01-04/example_dags/plugins/listener_plugin.py.log
logs/dag_processor/2026-01-04/example_dags/plugins/workday.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_bash_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_bash_operator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_branch_datetime_operator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_branch_day_of_week_operator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_branch_operator_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_branch_operator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_external_task_child_deferrable.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_external_task_marker_dag.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_external_task_parent_deferrable.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_latest_only.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_python_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_python_operator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_sensor_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_sensors.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_short_circuit_decorator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_short_circuit_operator.py.log
logs/dag_processor/2026-01-04/example_dags/standard/example_trigger_controller_dag.py.log
logs/dag_processor/2026-01-11/dags-folder/exemplo_dag.py.log
